.main-chat-container {
  width: 500px;
  height: 100vh;
  box-shadow: 0px 20px 30px #004e9c4c;
  background-color: #ffffff;
  padding: 30px;
  // overflow: scroll;
  // scrollbar-color: rgba(141, 141, 141, 0.585) rgb(255, 255, 255);
  // scrollbar-width: thin;

  .heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;

    .filter-icon {
      font-size: 35px;
      color: #0055d4;
      margin-right: 20px;
    }

    .arrow-icon {
      font-size: 21px;
      cursor: pointer;
      color: #004cbe;
      background-color: #e5f0fb;
      height: 27px;
      width: 29px;
      border-radius: 50%;
    }

    span {
      display: flex;
      align-items: center;
    }

    .chat-header {
      color: #295285;
      font-size: 26px;
      font-weight: 500;
    }

    .chat-count {
      height: 25px;
      width: 25px;
      background-color: #0c7b00;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 15px;
      color: #ffffff;
    }
  }

  .input-search-main {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .search-icon-input {
      width: 100%;
      background-color: #ffffff;
      outline: none;
      border-radius: 10px;
      font-size: 18px;
      padding: 0px 40px 0px 10px;
      height: 49px;
      border: 1px solid #b3cae1;
    }

    .chat-members-container {
      width: 100%;
    }

    .user-list {
      width: 100%;
    }

    .search-icon {
      margin-right: 0px;
      color: #295285;
      margin-left: -40px;
      margin-top: -10px;
      cursor: pointer;
      position: relative;
      left: 5px;
      top: 17px;
    }
  }

  .chat-list {
    //chat-members
    text-decoration: none;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid rgba(77, 76, 76, 0.0784313725);
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      background-color: rgba(77, 76, 76, 0.0784313725);
      border: none;
      border-radius: 5px;
      border-bottom: none;
    }


    .chat-profile {
      height: 67px;
      width: 70px;
      // background-color: rgba(139, 147, 149, 0.549);
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      //   background-image: url("../../assets/images/profile.png");

      .user-face-icon {
        /* text-align: center; */
        height: 50px;
        width: 50px;
        /* padding: 10px; */
        overflow: hidden;
        color: rgba(51, 55, 56, 0.549);
        border-radius: 50%;
        // padding: 2px;
        background: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
      }


      .chat-online {
        position: absolute;
        top: 48px;
        height: 10px;
        width: 10px;
        background-color: #0c7b00;
        right: 12px;
        border-radius: 50%;
      }

      .chat-offline {
        position: absolute;
        top: 48px;
        height: 10px;
        width: 10px;
        background-color: #2d2e2d;
        right: 12px;
        border-radius: 50%;
      }
    }

    // .user-message {
    //   color: #333333;
    //   text-decoration: none;
    //   top: 162px;
    //   left: 1567px;
    //   width: 46px;
    //   height: 22px;
    //   text-align: left;
    //   opacity: 60%;
    //   margin-top: 37px;
    //   text-wrap: nowrap;
    //   margin-left: -62px;
    // }

    // .user-lastSeen {
    //   color: #333333;
    //   text-decoration: none;
    //   top: 162px;
    //   left: 1567px;
    //   width: 46px;
    //   height: 22px;
    //   margin-left: 135px;
    //   text-align: left;
    //   opacity: 1;
    // }

    .user-messageStatus {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
}

.box-model {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  margin-left: 820px;
  width: 40%;
  justify-content: left;
  background: red;
  align-items: flex-end;
}

// .user-name {
//   color: #333333;
//   /* Layout Properties */
//   text-decoration: none;
//   top: 162px;
//   left: 1567px;
//   width: 46px;
//   height: 22px;
//   margin-top: 10px;
//   margin-left: 10px;
//   /* UI Properties */
//   text-align: left;
//   letter-spacing: 0px;
//   color: #333333;
//   opacity: 1;
//   cursor: pointer;
// }

.user-list-format {
  overflow: scroll;
  scrollbar-color: none;
  scrollbar-width: none;
  height: 80vh;
}

.user-name {
  font-size: 16px;
  margin-top: 6px;
  color: #000000;
  cursor: pointer;
  position: relative;
  transition: z-index 0.3s ease, transform 0.3s ease; // Add transition for smooth effect
}

// .user-name:hover {
//   color: black;
//   z-index: 1;
//   transform: translateX(3px); // Move the name slightly forward on hover
// }

.user-message {
  font-size: 15px;
  font-weight: normal;
  color: #333333;
  cursor: pointer;
}

.status-indicator {
  position: absolute;
  bottom: 12px;
  right: 9px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-indicator.online {
  background-color: green;
}

.status-indicator.offline {
  background-color: red;
}

.received-status {
  height: 20px;
  width: 20px;
  background-color: green;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.bold-message {
  font-weight: bold;
}