.theme-aqua {
 
  --side-panel-primary-bg: linear-gradient(135deg,#465efb, #3eb2e8);
  --side-panel-secondary-bg: linear-gradient(135deg, #a1eafb, #6f7bf7);

  --main-container-bg: #ffffff;
  --body-bg: #f5fcff;

  --grid-bg: #e6f7fb;
  --grid-header-bg:linear-gradient(135deg,#465efb, #3eb2e8);
  --grid-row-bg: #d0f0f7;

  --text-color: #1d3557;

  --btn-primary-bg: linear-gradient(135deg,#465efb, #3eb2e8);
  --btn-hover-bg: linear-gradient(135deg, #3eb2e8,#465efb);

  --input-bg: #f0faff;
  --input-text-color: #1d3557;

  --heading-fonts: #465efb;
  --h6-fonts: #3eb2e8;

  --sidebar-selected-bg: linear-gradient(135deg, #5d7285, #8fa4b7);


}