.theme-dark {
 
  --text-color: #ffffff;
  // Side Panel
  --side-panel-primary-bg: #0f0f0f;
  --side-panel-secondary-bg: #2c2c3e;

  // Main Content
  --main-container-bg: #0f0f0f;
  --body-bg: #0d131fe5;

  // Grid/Table
  --grid-bg: #1f1f2e;
  --grid-header-bg: #2a2a3c;
  --grid-row-bg: #29293f;

  --heading-color: #ffffff;

  // Button / Icon Color
  --btn-primary-bg: #4c5caf;
  --btn-hover-bg: #6773d0;

  --input-bg:#1f1f2e;
  --input-text-color:white;

  --heading-fonts: #ffffff;
  --h6-fonts: #cfd8dc;

  --sidebar-selected-bg: #33354a;



}
