.theme-deepsea {
  --text-color: #d1dbe8;
  --side-panel-primary-bg: #011627;
  --side-panel-secondary-bg: #003554;
  --main-container-bg: #001f33;
  --body-bg: #001a2e;
  --grid-bg: #002b45;
  --grid-header-bg: #00263e;
  --grid-row-bg: #00263e;
  --btn-primary-bg: #006494;
  --btn-hover-bg: #0582ca;
  --input-bg: #003554;
  --input-text-color: #d1dbe8;
  --heading-fonts: #00b4d8;
  --h6-fonts: #90e0ef;

  --sidebar-selected-bg: #004466;


}