.theme-galaxy {
  --text-color: #e0e0ff;
  --side-panel-primary-bg: #2b2d42;
  --side-panel-secondary-bg: #8d99ae;
  --main-container-bg: #1a1b2f;
  --body-bg: #111827;
  --grid-bg: #1f2235;
  --grid-header-bg: #2b2d42;
  --grid-row-bg: #2b2d42;
  --btn-primary-bg: #5e60ce;
  --btn-hover-bg: #748ffc;
  --input-bg: #2e305a;
  --input-text-color: #e0e0ff;
  --heading-fonts: #a29bfe;
  --h6-fonts: #dcdde1;
  --sidebar-selected-bg: #3d4160;


}