
  .theme-light {
    --bg-color: #4a5a9b;
    --main-container-bg-color:#ffffff;
    --body-bg-color: #F0F7FF;
    --text-color: #4a5a9b ;
    --primary-color: #4A5A9B;
    --card-bg: #f5f5f5;


    --text-color: black;
  // Side Panel
  --side-panel-primary-bg: #011D3E;
  --side-panel-secondary-bg: #2c2c3e;

  // Main Content
  --main-container-bg:#ffffff;
  --body-bg:#ffffff;

  // Grid/Table
  --grid-bg: #f4f4f4;
  --grid-header-bg:   #6b6b6b;
  --grid-row-bg: rgb(227, 227, 227);


  // Button / Icon Color
  --btn-primary-bg: #6b6b6b;
  --btn-hover-bg: #6b6b6bab;

  --input-bg:#ffffff;
  --input-text-color:black;

  //fonts
  --heading-fonts:#6b6b6b;
  --h6-fonts:#1f2a3a;
  --text-color:black;

  --sidebar-selected-bg: rgba(93, 114, 133, 0.2);


  }
  