.theme-midnight {
  --text-color: #cfd8dc;
  --side-panel-primary-bg: #1a237e;
  --side-panel-secondary-bg: #3949ab;
  --main-container-bg: #121212;
  --body-bg: #1c1c1c;
  --grid-bg: #212121;
  --grid-header-bg: #3949ab;
  --grid-row-bg: #1f1f1f;
  --btn-primary-bg: #3949ab;
  --btn-hover-bg: #5c6bc0;
  --input-bg: #2c2c3c;
  --input-text-color: #e0e0e0;
  --heading-fonts: #bbdefb;
  --h6-fonts: #90caf9;

  --sidebar-selected-bg: #2c2c5d;



}