
  .theme-nord {
    --text-color: #d8dee9;
    --side-panel-primary-bg: #2e3440;
    --side-panel-secondary-bg: #3b4252;
    --main-container-bg: #2e3440;
    --body-bg: #3b4252;
    --grid-bg: #434c5e;
    --grid-header-bg: #3b4252;
    --grid-row-bg: #3b4252;
    --btn-primary-bg: #81a1c1;
    --btn-hover-bg: #88c0d0;
    --input-bg: #434c5e;
    --input-text-color: #eceff4;
    --heading-fonts: #81a1c1;
    --h6-fonts: #d8dee9;

    --sidebar-selected-bg: #4c566a;


  }