.theme-pastel {
  --text-color: #444;
  --side-panel-primary-bg: #f8b195;
  --side-panel-secondary-bg: #f67280;
  --main-container-bg: #fffaf9;
  --body-bg: #fff7f7;
  --grid-bg: #fae1dd;
  --grid-header-bg: #f67280;
  --grid-row-bg: #ffeaea;
  --btn-primary-bg: #f67280;
  --btn-hover-bg: #f8a5b2;
  --input-bg: #ffffff;
  --input-text-color: #444;
  --heading-fonts: #f67280;
  --h6-fonts: #f8b195;
  --sidebar-selected-bg: #f8a5b2;


}
