.theme-purple {
  --side-panel-primary-bg: #4b3c69;
  --side-panel-secondary-bg: #6a5190;

  --main-container-bg: #ffffff;
  --body-bg: #f6f3fa;

  --grid-bg: #f1ebf9;
  --grid-header-bg: #6a5190;
  --grid-row-bg: #e5dff1;

  --text-color: #4b3c69;

  --btn-primary-bg: #7e57c2;
  --btn-hover-bg: #9575cd;

  --input-bg: #ffffff;
  --input-text-color: #4b3c69;

  --heading-fonts: #7e57c2;
  --h6-fonts: #9575cd;
  --sidebar-selected-bg: #6a5190;


}