.theme-sunset {

  --side-panel-primary-bg: linear-gradient(135deg, #ff6a39, #f4c787);
  --side-panel-secondary-bg: linear-gradient(135deg, #fcb69f, #ffdfd0);

  --main-container-bg: #ffffff;
  --body-bg: #fff8f4;

  --grid-bg: #fff3ed;
  --grid-header-bg: linear-gradient(135deg, #ff6a39, #f4c787);
  --grid-row-bg: #ffe5d4;

  --text-color: #7b341e;

  --btn-primary-bg: linear-gradient(135deg, #ff6a39, #f4c787);
  --btn-hover-bg: linear-gradient(45deg, #ffac91, #f68db3);

  --input-bg: #fff3ef;
  --input-text-color: #7b341e;

  --heading-fonts: #ff6a39;
  --h6-fonts: #fcb69f;
  --sidebar-selected-bg: linear-gradient(135deg, #ffac91, #f68db3);


}