.main-page-card-component {   
    // width: 100%;
    min-height: calc(100vh - 120px);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px rgba(0, 78, 156, 0.2980392157);
    border: 1px solid #A9C3DC;
    border-radius: 10px;
    margin: 15px 30px 20px 30px !important; 
    padding: 35px 30px 30px 30px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    // position: relative;
    
}
@media only screen and  (max-width: 1600px) {

    .main-page-card-component {   
        // width: 100%;
        min-height: calc(100vh - 120px);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 30px rgba(0, 78, 156, 0.2980392157);
        border: 1px solid #A9C3DC;
        border-radius: 10px;
        margin: 20px 30px 20px 30px !important; 
        padding: 35px 30px 30px 30px;
        margin-top: 20px;
        margin-right: 30px;
        margin-left: 30px; 
        // position: relative;
    }
    

}