@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.forgotPasswordPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  user-select: none;
  // background: image("../src/assets/web-images/loginBanner.png"); 
  background-image: url("../../assets/web-images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-size: 400% 400%;
  // animation: gradientMove 10s ease infinite;


  .forgotPassword-container {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .forgotPassword-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgb(3 3 3 / 42%);
    min-width: 350px;
    max-width: 400px;
    width: 100%;
  }

  .forgotPassword-title {
    background: linear-gradient(to right, rgb(0 143 229 / 96%), #002271);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    margin: -30px -30px 20px -30px;
  }

  .formSpace {
    padding-bottom: 20px;

    ::-webkit-input-placeholder {
      color: rgb(167, 163, 163) !important;
    }
  }

  .formFormat {
    border: none;
    border-bottom: 2px solid #BDBDBD;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #444;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-radius: 0;
  }

  .loginBtn,
  .loginBtnDisabled {
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .loginBtn {
    background: linear-gradient(to right, #090845ab, #090851);
    color: white;
    font-weight: bold;

    &:hover {
      background: linear-gradient(to right, #090851, #090845ab);
    }
  }

  .loginBtnDisabled {
    background-color: #9b9b9b73 !important;
    cursor: not-allowed;
  }

  .forgotPass {
    margin-top: 15px;
    font-size: 14px;
    color: #347ba9;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .contents {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }

  .footer {
    color: #347ba9;
    text-align: center;
    margin-top: 45px;
  }
}